* {
    box-sizing: border-box;
    /* border-width: 2px;
    border-color: brown;
    border-style: solid; */
}

.navbar {
    text-align: center;
    display: inline-block;
}
nav {
    width: 100%;
}

form button {
    background: rgb(60, 112, 255);
    color: rgb(255, 255, 255);

}

main {
    margin-top: 20px;
    margin-bottom: 40px;
    min-height: 1000px;
    width: 100%;
    background-size: cover;
    border-style: solid;   
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.col-md-3 {
    background-color: rgb(238, 238, 238);
 
}


.search-result{
    border-width: 1px;
    border-color: rgb(136, 136, 136);
    border-style: solid;

}


.search-city {
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(238, 238, 238);
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
}

ul {
    list-style-type: none;
    font-size: 20px;
    padding-left: 0px;
    padding-bottom: 0px;
    background-color: white;
    vertical-align: middle;
}

li {
    display: block;
    border-width: 1px;
    border-color: rgb(136, 136, 136);
    border-style: solid;
    height: 35px;
    text-indent: 10px;
}

.card-body p {
    font-size: 20px;
}

.card-title {
    display: inline-block;
}

.forecast-result {
    background-color: rgb(67, 113, 241);
    color: white;
}

h1 {
    font-size: 40px;
    color: rgb(217, 226, 226);
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

#uv-index {
    padding-right: 10px; 
    padding-left: 10px;
    padding-bottom: 3px;
}


.grey-border {
    background-color: grey;
    height: 1px;

}

.bio-img {
    margin-right: 20px; 
    width: 200px;  

}

.bio {
    float: inline-start;

}


footer {
    background-color: rgb(206, 203, 203);
    color: rgb(114, 113, 113);
    height: 20px;
}

/* .green-border {
    background-color: rgb(26, 150, 155);
    height: 4px;
} */

footer h2 {
    font-size: 20px;
    padding-top: 10px;
    
}